# Archivos de compilación
target/
*.class

# Archivos de IDE
.idea/
*.iml
.project
.classpath
.settings/

# Archivos de reportes
**/surefire-reports/
**/cucumber-reports/
**/screenshots/

# Archivos temporales
*.log
*.tmp
*.bak